body{

font-family:Arial;

background:#f2f5f8;

}


.login-box{

width:350px;

background:white;

padding:30px;

margin:100px auto;

border-radius:10px;

box-shadow:0 5px 15px gray;

}


input{

width:100%;

padding:10px;

margin:10px 0;

}



button{

width:100%;

padding:12px;

background:#1d7a46;

color:white;

border:none;

cursor:pointer;

}